
<div class="sidebar-section">
    <div class="sidebar-section__scroll">
        <div>
            <div class="sidebar-section__separator">菜单</div>
            <ul class="sidebar-section-nav">
                {volist name="sidebar" id="vo"}
                <li class="sidebar-section-nav__item">
                    <a  {notempty name="vo._child"}
                            class="sidebar-section-nav__link sidebar-section-nav__link-dropdown"
                            {else/}
                            class="sidebar-section-nav__link"
                        {/notempty}
                        {if condition="empty($vo['_child'])"}
                            href="{$vo.url}"
                            onclick="return location_frame(this)"
                            {else/}
                            href="javascript:"
                        {/if}>
                        <span class="sidebar-section-nav__item-icon {$vo['icon']}"></span>
                        <span class="sidebar-section-nav__item-text">{$vo.title}</span>
                        <!-- <span class="badge sidebar-section-nav__badge">2</span> -->
                    </a>
                    {notempty name="vo._child" }
                    <ul class="sidebar-section-subnav">
                        {volist name="vo._child" id="item" }
                        <li class="sidebar-section-subnav__item"><a class="sidebar-section-subnav__link" href="{$item.url}" onclick="return location_frame(this)">{$item.title}</a></li>
                        {/volist}
                    </ul>
                    {/notempty}
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>



