<div class="image-upload" id="{$config.prefix}{$name}">
    <div class="image-item">
        <div class="file-preview">
            {if condition="$config['value']" }
            <audio src="{$config.value|get_file}" controls></audio>
            {else /}
            <i class="fa fa-plus text-success"></i>
            {/if}
        </div>
        <div class="image-item-edit">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" title="{:url('admin/upload/manager',['extension'=>'audio','wechat'=>$config['wechat']])}" onclick="open_file_modal(this, this.title, make_audio_selector_{$config.prefix}{$name})">
                    <i class="fa fa-edit"></i>
                    <input type="hidden" name="{$name}" value="{$config.value}" >
                </button>
                <button type="button" class="btn btn-info" onclick="$(this).parent().parent().prev().html('<i class=\'fa fa-plus text-success\'></i>');$('input[name={$name}]').val('');">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var make_audio_selector_{$config.prefix}{$name} = function(id, title, src, ext){
        $('input[name={$name}]').val(id);
        $('#{$config.prefix}{$name} .file-preview').html(
            '<audio src="__UPLOAD__/files/'+src+'" controls alt="'+title+'" ></audio>'
        )
    }
</script>