{__NOLAYOUT__}
<div class="btn-group pull-right m-b-10">
    <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="#">删除</a>
        </li>
        <li>
            <a href="#">启用</a>
        </li>
        <li>
            <a href="#">禁用</a>
        </li>
        <li>
            <a href="#">恢复</a>
        </li>
        <li>
            <a href="#">锁定</a>
        </li>
    </ul>
</div>